include *.md
include *.txt
include LICENSE

recursive-include coretracker/classifier/models *
recursive-include coretracker/coreutils/templates *
recursive-include coretracker/FisherExact/statlib *.f90 *.F90 *.py *.pyf

global-exclude .gitignore
